.pokemon-details-container {
  height: 96px;
  width: 375px;
  border: 1px solid #1D1F2A;
  border-radius: 4px;
  padding: 16px 0 16px 16px;
  display: flex;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-right: 8px;
}

.text-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 64px
}

.pokemon-name {
  font-size: 20px;
  margin: 0;
  line-height: 22px;
}

.pokemon-weight {
  font-size: 16px;
  margin: 0;
  line-height: 22px;
}
