<div [class.open]="isDropDownOpen || searchControl.value" class="autocomplete-container">
  <label class="field-label">{{ label }}</label>
  <label
    *ngIf="!searchControl.value"
    [class.active]="isDropDownOpen || searchControl.value"
    class="placeholder-label">{{ textPlaceholder }}
  </label>
  <input
    id="autocomplete"
    type="text"
    autocomplete="off"
    [formControl]="searchControl"
    [attr.disabled]="isItemSelected ? true : null"
    class="autocomplete-input"
  >
  <div class="icon-container">
    <i *ngIf="searchControl.value" class="material-icons close-icon" (click)="clearInput()">close</i>
    <i *ngIf="!isDropDownOpen && !searchControl.value" class="material-icons arrow-icon" (click)="toggleDropdown()">keyboard_arrow_down</i>
    <i *ngIf="isDropDownOpen && !searchControl.value" class="material-icons arrow-icon up" (click)="toggleDropdown()">keyboard_arrow_up</i>
    <i *ngIf="searchControl.value" class="material-icons search-icon">search</i>
  </div>
</div>

<app-scrollable-list
  *ngIf="!isItemSelected && (isDropDownOpen || searchControl.value)"
  [items]="filteredItems"
  [displayFn]="displayFn"
  [searchQuery]="searchControl.value"
  (itemSelected)="onSelectItem($event)"
  (reachedBottom)="loadMoreItems.emit()">
</app-scrollable-list>
