.autocomplete-container {
  position: relative;
  background-color: #f1f1f1;
  border-radius: 4px 4px 0 0;
  padding: 8px;
  border-bottom: 2px solid transparent;
  margin-bottom: 8px;

  .autocomplete-input {
    width: 100%;
    border: none;
    font-size: 16px;
    background: transparent;
    outline: none;

    &:focus {
      ~ .icon-container .search-icon {
        color: #005CC6;
      }

      ~ .autocomplete-container {
        @extend .active;
      }
    }
  }

  .placeholder-label {
    position: absolute;
    top: 65%;
    left: 8px;
    color: #666;
    transform: translateY(-50%);
    pointer-events: none;

    &.active {
      color: #005CC6;
    }
  }

  .field-label {
    font-size: 11px;
    color: #666;
    margin-bottom: 4px;
    display: block;
  }

  &.open, &:focus-within {
    border-bottom: 4px solid #005CC6;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:not(.open):not(:focus-within) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.icon-container {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);

  .arrow-icon {
    &.up {
      color: #005CC6;
    }
  }

  .material-icons {
    font-size: 24px;
    cursor: pointer;
  }

  .close-icon {
    margin-right: 8px;
  }
}
