<div #scrollableDiv class="scrollable-container">
  <ul>
    <li
      *ngFor="let item of items"
      (click)="selectItem(item)"
      [ngClass]="{'selected': selectedItem === item}"
    >
      <ng-container *ngIf="enableHighlighting && shouldHighlight(displayFn(item), searchQuery); else noHighlight">
        <span [innerHTML]="highlightText(displayFn(item), searchQuery)"></span>
      </ng-container>
      <ng-template #noHighlight>
        <span>{{ displayFn(item) }}</span>
      </ng-template>
    </li>
  </ul>
  <div class="loading-text" *ngIf="isLoading">
    Loading more items...
  </div>
</div>
