// Define color variables
$color-light-blue-hover: #F2FAFE;
$color-light-blue-selected: #DFF3FC;
$color-white: #fff;
$color-yellow-highlight: yellow;
$color-light-gray-border: #ccc;
$color-dark-blue-link: #005CC6;
$color-light-gray-bg: #f1f1f1;
$color-dark-gray-text: #666;
$color-dark-gray-border: #1D1F2A;
