<div class="pokemon-search-control">
  <app-autocomplete
    [items]="pokemons"
    [label]="labelName"
    [textPlaceholder]="'Choose your favorite...'"
    [filterFn]="pokemonFilterFn"
    [displayFn]="pokemonDisplayFn"
    (loadMoreItems)="loadMore()"
    (showDetails)="showDetails($event)"
    (loadInitialList)="resetPokemons()"
  />

  <!-- Show loading indicator when isLoadingDetails is true -->
  <div *ngIf="isLoadingDetails" class="loading-container">
    <p>Loading...</p>
  </div>

  <app-pokemon-details
    *ngIf="pokemonDetails"
    [pokemonDetails]="pokemonDetails"
  />
</div>

