<div #scrollableDiv class="scrollable-container" style="height: 300px; overflow-y: auto;">
  <ul>
    <li
      *ngFor="let item of items"
      (click)="selectItem(item)"
      [ngClass]="{'selected': selectedItem === item}"
    >
      <ng-container *ngIf="searchQuery; else noHighlight">
        <span>{{ displayFn(item).substring(0, displayFn(item).toLowerCase().indexOf(searchQuery.toLowerCase())) }}</span>
        <span [style.backgroundColor]="shouldHighlight(displayFn(item), searchQuery) ? 'yellow' : 'transparent'">
          {{ displayFn(item).substring(displayFn(item).toLowerCase().indexOf(searchQuery.toLowerCase()), displayFn(item).toLowerCase().indexOf(searchQuery.toLowerCase()) + searchQuery.length) }}
        </span>
        <span>{{ displayFn(item).substring(displayFn(item).toLowerCase().indexOf(searchQuery.toLowerCase()) + searchQuery.length) }}</span>
      </ng-container>
      <ng-template #noHighlight>
        <span>{{ displayFn(item) }}</span>
      </ng-template>
    </li>
  </ul>
  <div class="loading-text" *ngIf="isLoading">
    Loading more items...
  </div>
</div>
